<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend/Default" />

<f:section name="content">
        <span id="sm-loading" style="position: absolute; z-index: 100">Loading, please wait...</span>
	<!-- <f:variable name="menuName"><f:translate key="cat_chat" extensionName="typo3_allinoneaccessibility" /></f:variable> -->
        <iframe id="frame" frameborder="0" style="width: 100%; height:100vh;" onload="document.getElementById('sm-loading').style.display = 'none'; document.querySelector('.module-body').style.paddingLeft = 0; document.querySelector('.module-body').style.paddingRight = 0"
        src="https://skynettechnologies.com/add-ons/reports/setup/typo3/?hash={hash}&url={domain}"></iframe>
        <!-- <f:render partial="ConstantFieldsForm" arguments="{_all}" />
	</div> -->
</f:section>

</html>
